footer
    //  File Name: footer.pug
    //   Author's Name: Michael Valadao-Martins
    //   WebSite Name: Michael Valadao-Martins Personal Portfolio
    //   File Description: This file is the footer for the portfolio
    hr
    p.footer This website is property of Michael Valadao-Martins and is used only for a school assignment.