header
    //  File Name: header.pug
    //   Author's Name: Michael Valadao-Martins
    //   WebSite Name: Michael Valadao-Martins Personal Portfolio
    //   File Description: This file is the header for the portfolio
    a(class='anch' href='/') Home
    a(class='anch' href='/about') About Me
    a(class='anch' href='/projects') Projects
    a(class='anch' href='/services') Services
    a(class='anch' href='/contact') Contact Me
    hr