extends layout

block content
  h1= title
  img.profile(src='../Pictures/profile.jpg')
  p My name is Michael Valadao-Martins and I am currently enrolled at Georgian College for Computer Programmer Analyst. I first enrolled in Digital Media Arts at Seneca College for 2 years and decided that I wanted a more technical aspect when it came to computers which is what led me to wanting to become a programmer. 
  