extends layout

block content
  //  File Name: contact.pug
  //   Author's Name: Michael Valadao-Martins
  //   WebSite Name: Michael Valadao-Martins Personal Portfoli
  //   File Description: This file is the contact page for the portfolio
  h1= contact
  p.contact <u>Contact Information</u><br><br>Email: mikevm@gmail.com<br>Phone: (111) 111-1111