extends layout

block content
  h1= title
  p Welcome to #{title}.<br>
  p On my personal profile you will be about to read more about me and my journey. You will be able to see my projects, my services and along with a way to contact me for any inquiries.