extends layout

block content
  //  File Name: projects.pug
  //   Author's Name: Michael Valadao-Martins
  //   WebSite Name: Michael Valadao-Martins Personal Portfolio
  //   File Description: This file is the project page for the portfolio
  h1= project
  p The following projects are what I have done for school.
  a(class='projects' href='https://github.com/MikeVMane/COMP2068-Assignment1' target="_blank") Assignment 1
  a(class='projects' href='https://github.com/MikeVMane/WeirdDeals' target="_blank") Weird Deals
  a(class='projects' href='https://github.com/MikeVMane/JavascriptAssign2-200412941' target="_blank") Assignment 2