extends layout

block content
  h1= title
  p The following projects are what I have done for school.
  a(class='projects' href='https://github.com/MikeVMane/COMP2068-Assignment1' target="_blank") Assignment 1
  a(class='projects' href='https://github.com/MikeVMane/WeirdDeals' target="_blank") Weird Deals
  a(class='projects' href='https://github.com/MikeVMane/JavascriptAssign2-200412941' target="_blank") Assignment 2