extends layout

block content
  //  File Name: services.pug
  //   Author's Name: Michael Valadao-Martins
  //   WebSite Name: Michael Valadao-Martins Personal Portfolio
  //   File Description: This file is the services page for the portfolio
  h1= service
  p These ar the following services which i provide:<br><br>Website Creation<br>Software Development<br>Company Redesign<br>Fix Computers